.row {
    padding: 1rem;
    border-bottom: 1px solid lightgray;
}

.row:last-of-type {
    border: none;
}

.column {
    border-right: 1px solid lightgray;
}

.column:last-of-type {
    border: none;
}