.main-form {
    margin: 0 auto;
    max-width: 50%;
}


.main-form h1 {
    margin-bottom: 30px;
}

.main-form form {
    margin: 0 auto;
    padding: 20px;
    background: #f5f5f5
}

.main-form input {
    border: none;
    border-bottom: 1px solid #e2e2e2;
}

.main-form .form-group {
    margin: 25px 0;
}

.main-form .btn {
    background: #be0939;
    font-weight: bold;
}