.jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: url(https://images.unsplash.com/photo-1565509059470-1c81dd7bf60e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


}

.jumbotron h1 {
    display: inline-block;
    padding: 1rem;

    color: brown;
}

.jumbotron p {
    padding: 1rem;
    border-bottom: 1px dotted brown;

    background: white;
    opacity: .7;
}