.main-navigation {
    margin-bottom: 30px;
    background: white !important;
}

.main-navigation .navbar-brand {
    font-family: 'Solway', serif;
}

.main-navigation .nav-item {
    margin: 0 20px;
    cursor: pointer;
}